node_modules
.nuxt
.output
.nitro
.cache
dist
data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm
data/seed.sql
public/uploads/audio/*
public/uploads/images/*
!public/uploads/audio/.gitkeep
!public/uploads/images/.gitkeep
.env
.dev.vars
.wrangler/
.DS_Store

